:root {
    --primary-color: #10B981;
    --dark-bg: #273549;
    --body-bg: #1C1C1C;
    --box-bg: #ECFDF5;
    --text-color: #2B283A;
    --font-primary: "Karla", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

body {
    margin: 0;
    background: var(--body-bg);
    font-family: var(--font-primary);
}

#password-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-box {
    background: var(--box-bg);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 80px 40px;
 
}

h1 {
    color: var(--text-color);
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

.green {
    color: var(--primary-color);
}

/* Gemensamma text-stilar */
p, #generate-button {
    font-family: var(--font-secondary);
}

p {
    font-size: 20px;
    margin: 10px 0 51px 0;    
}

/* Knapp-stilar */
#generate-button {
    background: var(--primary-color);
    border: none;
    padding: 10px 16px;
    font-family: "Inter", sans-serif;;
    color: var(--box-bg);
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 32px;
}


#password-buttons {
display: flex;
text-align: center;
}

/* Gemensamma stilar för lösenordsknapparna */
#password-one-btn, #password-two-btn {
    width: 211px;
    height: 39px;
    background: var(--dark-bg);
    border-radius: 6px;
    margin: 35px 24px 0 0;
}

#password-one, #password-two {
    font-size: 16px;
    font-weight: 500;
}

/* Hover-effekter */
#password-one:hover, #password-two:hover {
    opacity: 0.8;
}

/* Toast-notifikation */
.toast {
    visibility: hidden;
    background-color: #273549;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations */
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}